@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{

  }
  h2{
    @apply font-bold text-xl mb-2 text-yellow-500;
  }
  p{
    @apply text-base mb-4;
  }
  .lab_s{
    @apply block text-gray-700 text-sm font-bold mb-2 ;
  }
  .lab{
    @apply block text-gray-700 text-sm font-bold mb-2;
  }
  .inp_s{
    @apply shadow appearance-none border rounded py-2 px-3 w-full md:w-1/2 text-gray-700 leading-tight focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
  .inp{
    @apply shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
  .drop{
      @apply shadow border rounded py-2 px-3 md:mb-2 w-full md:w-1/2 text-gray-700 leading-tight focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
  .btn_1{
    @apply w-full border border-yellow-500  bg-yellow-500 text-white rounded-lg p-2
  }
  .btn_2{
    @apply w-1/2 border border-yellow-500  bg-yellow-500 text-white rounded-md p-2;
  }
}
